.header {
  @media (max-width:991px) {
      .menuMovil{
          overflow: hidden;
          height: 0;
          width: 100%;
          position: fixed;
          top:var(--heightMenu);
          left: 0;
          transition: .5s;
         &-2{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            a{
                margin: ptr(20px) 0;
                display: block;
                font-size: ptr(25px);
            }
         }
      }
  }
}

body.activeMenu{
    .menuMovil{
        height: calc(100vh - var(--heightMenu));
        overflow: scroll;
    }
}