@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
}
.font-montserrat {
  font-family: montserrat;
}

html {
  font-size: 7px;
  overflow: auto;
}
@media (min-width: 575px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1680px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 16px;
  }
}

:root {
  --white: white;
  --black: black;
  --red: red;
  --blue: blue;
  --green: green;
  --yellow: yellow;
  --yellow-1: #FB9600;
  --gray: #4b4b4b;
  --white-2: #F0EFEF;
  --green-1: #30B800;
}

@media (max-width: 991px) {
  .header .menuMovil {
    overflow: hidden;
    height: 0;
    width: 100%;
    position: fixed;
    top: var(--heightMenu);
    left: 0;
    transition: 0.5s;
  }
  .header .menuMovil-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header .menuMovil-2 a {
    margin: 1.25rem 0;
    display: block;
    font-size: 1.5625rem;
  }
}

body.activeMenu .menuMovil {
  height: calc(100vh - var(--heightMenu));
  overflow: scroll;
}

.container {
  width: 100%;
  max-width: var(--container, 90rem);
  margin-left: auto;
  margin-right: auto;
}

.bg, .bg img, .bg .capa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.seccion:nth-child(2n) {
  flex-direction: row-reverse;
}

.login-input {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--white, white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray, gray);
}

body {
  padding-top: var(--sizeHeader, 0);
}

/*# sourceMappingURL=style.css.map */
